:root {
    --gutter: 16px;
    @include mq(pc) {
        --gutter: 24px;
    }
    --color-bg-footer: #eee;

    --font-h1: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    --font-h2: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    --font-h3: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    --font-p: 1rem;
    @include mq(pc) {
        --font-p: clamp(1rem, 0.404rem + 0.96vw, 1.125rem);
    }
    --font-li: 1rem;
    @include mq(pc) {
        --font-p: clamp(1rem, 0.404rem + 0.96vw, 1.125rem);
    }
}

html {
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template: "header" auto "contents" 1fr "footer" auto/100%;
    min-height: 100vh;
    font-size: var(--font-p);
    /*width: 100%;
    max-width: 80ch;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    font-family: "Lato", "Noto Sans JP", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    font-weight: 400;
    letter-spacing: 0.05em;*/
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.p-section__head {
}

.p-section__subhead {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.p-section p + p {
    margin-top: 1rem;
}
