/*伝わりやすさは、全てが調和した見やすさによる*/
/*every layoutを読んでブラッシュアップする*/
/*共通するgap,gridを流動化させる*/
/*line-heightも流動化させる*/
/*letter-spacingも*/

:root {
    --width-content: min(88%, 1000px); /*最大1000px、それ以下はブラウザ幅（body）に対して90%で表示させる*/
    --padding-header: 2rem;
    --gap-nav: 1.5rem;
    --gap-content: 2rem;
    --padding-content: 2rem;
    --padding-section: 2rem;
    --margin-footer: 2rem;
    @include mq(pc) {
        --padding-header: 3rem;
        --gap-content: 3rem;
        --padding-content: 3rem;
        --padding-section: 3rem;
        --margin-footer: 3rem;
    }
    --color-menu: #002e4e;
    --color-head: #002e4e;
    --color-text: #002e4e;
    /* fluid type scale calculator major second 320px/15px - 1000px 16px 1.125*/
    --font-h1: clamp(1.055rem, 1.0221rem + 0.1647vw, 1.125rem);
    --font-h2: clamp(0.9375rem, 0.9081rem + 0.1471vw, 1rem);
    --font-h3: clamp(0.9375rem, 0.9081rem + 0.1471vw, 1rem);
    --font-p: clamp(0.9375rem, 0.9081rem + 0.1471vw, 1rem);
    --font-li: clamp(0.9375rem, 0.9081rem + 0.1471vw, 1rem);
    --font-nav: clamp(1.1388rem, 1.1029rem + 0.1794vw, 1.215rem);
    --font-nav-en: clamp(0.7406rem, 0.7174rem + 0.1162vw, 0.79rem);
    --font-nav-information: clamp(0.8331rem, 0.8069rem + 0.1309vw, 0.8888rem);
}

::selection {
    background-color: #efefef;
}
html {
    height: 100dvh; /*全画面ナビゲーション背後のコンテンツスクロール不可時に、アドレスバー高さ分の空白を削除*/
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template: "header" auto "contents" 1fr "footer" auto/100%;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--color-text);
    background-color: #fff;
    overflow-x: hidden; /* 横スクロール防止 */
}

body.is-fix {
    overflow: hidden; /*全画面ナビゲーション時に、背後のコンテンツをスクロール不可に*/
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.p-mv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.p-mv__head {
    font-size: var(--font-h1);
    font-weight: 700;
    letter-spacing: 0.05rem;
}
.p-mv__text {
    font-size: var(--font-p);
    font-weight: 500;
    letter-spacing: 0.05rem;
    line-height: 1.75;
    text-align: center;
}

.p-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include mq(tab) {
        flex-direction: row;
        gap: unset;
    }
}

.p-section__head {
    font-size: var(--font-h2);
    font-weight: 700;
    letter-spacing: 0.15em;
    @include mq(tab) {
        flex-shrink: 0;
        width: 32%;
    }
}

.p-section__body {
    display: flex;
    flex-direction: column;
    gap: var(--padding-content);
    @include mq(tab) {
        flex-shrink: 0;
        width: 68%;
    }
}

.p-section__subhead {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: var(--font-h3);
    font-weight: 700;
    letter-spacing: 0.15em;
}

.p-section__text {
    font-size: var(--font-p);
    font-weight: 500;
    line-height: 1.75;
}
.p-section p + p {
    margin-top: 1rem;
}

.c-inlinelist {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2em;
    @include mq(tab) {
        flex-direction: row;
    }
}
.c-inlinelist dt {
    width: 30%;

    margin-bottom: 0;
    font-size: var(--font-li);
    font-weight: 500;
    @include mq(tab) {
        padding-bottom: 1em;
    }
}
.c-inlinelist dd {
    width: 70%;
    padding-bottom: 1em;
    margin-bottom: 0;
}
