.l-header {
    grid-area: header;
    width: 100%;
    padding-top: var(--padding-header);
}

.l-header__inner {
    margin-inline: auto;
    padding-block: var(--padding-section);
    max-width: var(--width-content);
}

.l-content {
    grid-area: contents;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-content);
    padding-block: var(--padding-content);
}

.l-mv {
}

.l-mv__inner {
    padding-block: var(--padding-section);
    margin-inline: auto;
    max-width: var(--width-content);
}

.l-section--bgcolor {
}
.l-section__inner {
    padding-block: var(--padding-section);
    margin-inline: auto;
    max-width: var(--width-content);
}

.l-footer {
    grid-area: footer;
    text-align: center;
    margin-top: var(--margin-footer);
}

.l-footer__inner {
    padding-block: var(--padding-section);
    margin-inline: auto;
    max-width: var(--width-content);
}
