.l-header {
    grid-area: header;
    width: 100%;
    padding-top: 24px;
    @include mq(pc) {
        padding-top: 32px;
    }
}

.l-header__inner {
    padding-inline: var(--gutter);
    margin-inline: auto;
    @include mq(pc) {
        max-width: 1248px;
    }
}
.l-main {
    grid-area: contents;
    display: flex;
    flex-direction: column;
    row-gap: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.-section__inner {
    padding-inline: var(--gutter);
    margin-inline: auto;
    @include mq(pc) {
        max-width: 1248px;
    }
}

.-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include mq(tab) {
        flex-direction: row;
        gap: unset;
    }
}

.-section__head {
    @include mq(tab) {
        flex-shrink: 0;
        width: 20%;
        padding-right: 1em;
    }
    @include mq(pc) {
        flex-shrink: 0;
        width: 20%;
    }
}

.-section__body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include mq(tab) {
        flex-shrink: 0;
        width: 80%;
    }
    @include mq(pc) {
        flex-shrink: 0;
        width: 80%;
    }
}

.l-footer {
    grid-area: footer;
    padding: 16px 0;
    text-align: center;
    background-color: var(--color-bg-footer);
}
