---
import Layout from "../layouts/Layout.astro";
const title = "私について - 田中宏樹事務所 | 新潟市のフリーランスデザイナー・行政書士";
const description = "デザイナー・行政書士田中宏樹の自己紹介";
import profile from "../images/home-tanaka.jpg";
---

<Layout title={title} description={description}>
  <section class="l-mv">
    <div class="l-mv__inner">
      <div class="p-mv">
        <h1 class="p-mv__head">ABOUT</h1>
        <div class="p-mv__text">
          <div>田中宏樹の自己紹介</div>
          <div>私の略歴とこれまでの取り組みについてご紹介いたします</div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">略歴</h2>
        <div class="p-section__body">
          <div class="p-content__figure">
            <img src={profile.src} alt="田中宏樹" />
          </div>
          <div class="p-section__text">
            <dl class="c-inlinelist">
              <dt>1995-1998</dt>
              <dd>
                <p>新潟南高等学校</p>
              </dd>
              <dt>1998-2002</dt>
              <dd>
                <p>新潟大学人文学部　行動科学課程（人間学講座・言語学専攻）</p>
              </dd>
              <dt>2002-2004</dt>
              <dd>
                <p>教育産業に従事</p>
              </dd>
              <dt>2003</dt>
              <dd>
                <p>行政書士資格取得</p>
              </dd>
              <dt>2004-2005</dt>
              <dd>
                <p>土地家屋調査士・行政書士・一級建築士事務所勤務</p>
              </dd>
              <dt>2005</dt>
              <dd>
                <p>自宅を事務所として行政書士事務所開業</p>
              </dd>
              <dt>2006</dt>
              <dd>
                <p>起業支援をメイン業務とし、新潟市内分だけで100社超の会社設立を支援</p>
              </dd>
              <dt>2008</dt>
              <dd>
                <p>新潟西区役所近くに事務所移転</p>
              </dd>
              <dt>2008</dt>
              <dd>
                <p>新潟西区役所近くに事務所移転</p>
              </dd>
              <dt>2009</dt>
              <dd>
                <p>ウェブサイト制作を中心としたデザイン事業を開始</p>
              </dd>
              <dt>2012</dt>
              <dd>
                <p>子供が生まれるのを機に事務所を自宅に戻し、以後はフリーランス形態にて活動し、現在に至ります</p>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-section l-section--bgcolor">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">関連活動</h2>
        <div class="p-section__body">
          <div class="p-section__text">
            <dl class="c-inlinelist">
              <dt>2007-2013</dt>
              <dd>
                <p>新潟県行政書士会新潟支部理事</p>
              </dd>
              <dt>2008-2011</dt>
              <dd>
                <p>新潟国際情報大学エクステンションセンター講師</p>
              </dd>
              <dt>2010-2011</dt>
              <dd>
                <p>新潟県行政書士会情報通信委員</p>
              </dd>
              <dt>2011</dt>
              <dd>
                <p>新潟大学法学部インターンシップ受け入れ</p>
              </dd>
              <dt>2011</dt>
              <dd>
                <p>厚労省基金訓練講座「IT活用キャリアアップ講座」講師</p>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
