---
import Layout from "../layouts/Layout.astro";
const title = "お問い合わせ - 田中宏樹事務所 | 新潟市のフリーランスデザイナー・行政書士";
const description = "お問い合わせはメール・チャットツール等にて承ります。";
---

<Layout title={title} description={description}>
  <section class="l-mv">
    <div class="l-mv__inner">
      <div class="p-mv">
        <h1 class="p-mv__head">CONTACT</h1>
        <div class="p-mv__text">
          <div>お問い合わせ</div>
          <div>初回のお問い合わせはメール・チャットツールにて承ります</div>
          <div>業務ご依頼後は貴社へのご訪問・お電話等でもご対応しております</div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">メールフォーム</h2>
        <div class="p-section__body">
          <div class="p-section__text">ただいま準備中です</div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">チャット</h2>
        <div class="p-section__body">
          <div class="p-section__text">外出が多く、当方がご対応可能なタイミングのみとなり大変申し訳ございませんが、チャットでの会話も可能です。</div>
        </div>
      </div>
    </div>
  </section>
</Layout>
