---
import Layout from "../layouts/Layout.astro";
const title = "田中宏樹事務所：新潟市のフリーランスデザイナー・行政書士";
const description =
"デザイナー兼行政書士田中宏樹が新潟市で運営しています。ウェブサイト制作やデザイン制作を通じて、お客さまの集客とブランドづくりの支援を行うことをメイン業務とする行政書士事務所です。";
import profile from "../images/home-tanaka.jpg";
---

<Layout title={title} description={description}>
  <div class="l-mv">
    <div class="l-mv__inner">
      <div class="p-mv">mainVisual</div>
    </div>
  </div>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">About</h2>
        <div class="p-section__body">
          <div class="p-section__text">
            <p>フリーランスのデザイナー兼行政書士、田中宏樹がひとりで運営している新潟市の行政書士事務所です。</p>
            <p>
              2005年に行政書士事務所として開業し、2010年頃までは起業支援をメイン業務として活動しました。その後、ウェブサイト制作を通じた集客支援・ブランディング支援業務にシフトし、現在に至ります。
            </p>
          </div>
          <div class="p-content__figure">
            <img src={profile.src} alt="田中宏樹" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-section l-section--bgcolor">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">about</h2>
        <div class="p-section__body">
          <div class="p-section__text">
            <p>フリーランスのデザイナー兼行政書士、田中宏樹がひとりで運営している新潟市の行政書士事務所です。</p>
            <h3 class="p-section__subhead">中見出し</h3>
            <p>
              2005年に行政書士事務所として開業し、2010年頃までは起業支援をメイン業務として活動しました。その後、ウェブサイト制作を通じた集客支援・ブランディング支援業務にシフトし、現在に至ります。
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style lang="scss"></style>