---
import Layout from "../layouts/Layout.astro";
const title = "田中宏樹事務所 - 新潟市のフリーランス行政書士・デザイン事務所";
const description =
  "デザイナー・行政書士田中宏樹が新潟市で運営しています。ウェブサイト制作やデザイン制作を通じて、お客さまの集客とブランドづくりの支援を行うことをメイン業務とする行政書士事務所です。";
---

<Layout title={title} description={description}>
  <section class="l-mv">
    <div class="l-mv__inner">
      <div class="p-mv">
        <h1 class="p-mv__head">MISSION</h1>
        <div class="p-mv__text">
          <div>ビジネスを取り巻く環境が刻々と変わりゆく中で</div>
          <div>流行りや廃りにとらわれず、事業の普遍的な核・本質に着目し</div>
          <div>小さな事業者さまのブランディングとマーケティングをサポートをします</div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">概要</h2>
        <div class="p-section__body">
          <div class="p-section__text">
            <p>フリーランスのデザイナー・行政書士、田中宏樹がひとりで運営している新潟市の行政書士事務所です。</p>
            <p>各種コンテンツ制作とそれに伴うデザイン制作、行政の許認可手続等の法務、この二つの側面から、事業者さまの情報発信・集客・ブランディングをご支援します。</p>
          </div>
          <!--<div class="p-content__figure">
            <img src={profile.src} alt="田中宏樹" />
          </div>-->
        </div>
      </div>
    </div>
  </section>
  <section class="l-section l-section--bgcolor">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">サービス</h2>
        <div class="p-section__body">
          <div class="p-section__text">
            <p>主に小規模事業者さま向けに、次のサービスをご提供いたします。</p>
            <h3 class="p-section__subhead">デザイン制作</h3>
            <ul class="c-list">
              <li>コンテンツ制作（文章・写真・動画など）</li>
              <li>ロゴデザイン</li>
              <li>ウェブサイト制作（コーディング・WordPressなどのCMS構築）</li>
              <li>各種販促物の制作</li>
            </ul>
            <h3 class="p-section__subhead">行政書士業務</h3>
            <ul class="c-list">
              <li>行政の許認可手続（建設業・障がい福祉・古物商・酒類販売・車庫証明など）</li>
              <li>各種契約書作成</li>
              <li>公的融資・補助金などの資金調達</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
