---
import Layout from "../layouts/Layout.astro";
const title = "対応可能業務について - 田中宏樹事務所 | 新潟市のフリーランスデザイナー・行政書士";
const description = "主に小規模事業者さま向けに、各種コンテンツ制作・デザイン制作、行政の許認可手続等の法務サービスをご提供いたします。";
---

<Layout title={title} description={description}>
  <section class="l-mv">
    <div class="l-mv__inner">
      <div class="p-mv">
        <h1 class="p-mv__head">SERVICE</h1>
        <div class="p-mv__text">
          <div>サービスと料金について</div>
          <div>ご提供可能なサービスの種類と料金の目安をご案内いたします</div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">デザイン関連</h2>
        <div class="p-section__body">
          <div class="p-section__text">
            <ul class="c-list">
              <li>ウェブサイトや販促物に掲載する文章の考案</li>
              <li>ウェブサイトや販促物に掲載する写真の撮影・編集</li>
              <li>プロモーション動画の撮影・編集</li>
              <li>ウェブサイトデザイン</li>
              <li>ウェブサイトのコーディング</li>
              <li>WordPressなどのCMS構築</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">行政書士</h2>
        <div class="p-section__body">
          <div class="p-section__text">
            <ul class="c-list">
              <li>行政の許認可手続（建設業・障がい福祉・古物商・酒類販売・車庫証明など）</li>
              <li>各種契約書作成</li>
              <li>公的融資・補助金などの資金調達</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
