---
import Layout from "../layouts/Layout.astro";
const title = "制作実績など - 田中宏樹事務所 | 新潟市のフリーランスデザイナー・行政書士";
const description = "これまでのご支援実績・制作実績をご紹介いたします";
const serviceList1 = [
  "ウェブサイトや販促物に掲載する文章の考案",
  "ウェブサイトや販促物に掲載する写真の撮影・編集",
  "プロモーション動画の撮影・編集",
  "ウェブサイトデザイン",
  "ウェブサイトのコーディング",
  "WordPressなどのCMS構築",
];
const serviceList2 = [
  "行政の許認可手続（建設業・障がい福祉・古物商・酒類販売・車庫証明など）",
  "トラブルを防止するための各種書類作成（業務委託契約書・業務提携契約書・売買契約書・貸し借りに関する契約書・著作権に関する契約書など）",
  "利用規約の作成",
  "プライバシーポリシーの作成",
  "公的融資・補助金などの資金調達に関する書類作成",
];
---

<Layout title={title} description={description}>
  <section class="l-mv">
    <div class="l-mv__inner">
      <div class="p-mv">
        <h1 class="p-mv__head">WORKS</h1>
        <div class="p-mv__text">
          <div>制作実績など</div>
          <div>これまでのご支援実績・制作実績をご紹介いたします</div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">デザイン関連</h2>
        <div class="p-section__body">
          <div class="p-section__text">
            <ul class="c-list">{serviceList1.map((item) => <li>{item}</li>)}</ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">行政書士業務</h2>
        <div class="p-section__body">
          <div class="p-section__text">
            <ul class="c-list">{serviceList2.map((item) => <li>{item}</li>)}</ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
