---
import Layout from "../layouts/Layout.astro";
const title = "制作実績など - 田中宏樹事務所 | 新潟市のフリーランスデザイナー・行政書士";
const description = "これまでの制作実績・ご支援実績をご紹介いたします";
const List1 = [
  "車庫証明・車の登録",
  "古物商許可",
  "福祉有償運送登録",
  "建設業許可（新規、譲渡・譲受認可、更新、11条変更届）",
  "解体工事業登録",
  "産業廃棄物処理業許可（中間処理）",
  "農地法許可",
  "酒類販売業免許（一般小売、通販小売、輸出卸売）",
  "障がい福祉サービス指定（就労継続支援A型、生活介護、居宅介護、行動援護、同行援護）",
  "新潟市地域生活支援事業登録（移動支援、日中一時支援等）",
  "食品衛生法関連(オンラインでの食品営業届出など）",
  "公的融資（事業計画書等の作成）",
  "公的補助金（事業計画書等の作成）",
  "契約書作成（賃貸借、業務委託など）",
  "相続手続（遺産分割協議書作成、金融機関解約手続など）",
  "会社法人設立（株式会社、合同会社、NPO法人、有限責任事業組合、中間法人、一般社団法人など）",
  "法人の組織再編（株式会社の分割、合資・合同会社の組織変更）",
];
---

<Layout title={title} description={description}>
  <section class="l-mv">
    <div class="l-mv__inner">
      <div class="p-mv">
        <h1 class="p-mv__head">Works</h1>
        <div class="p-mv__text">
          <div>制作実績など</div>
          <div>これまでの制作実績・ご支援実績をご紹介いたします</div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">ロゴ・マーク制作</h2>
        <div class="p-section__body">
          <p>ただいま準備中です</p>
          <!--<div class="splide slider1" aria-label="carousel-heading">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide" style="background:#ccc;">01</li>
                <li class="splide__slide" style="background:#ff0;">02</li>
                <li class="splide__slide" style="background:#f69;">03</li>
              </ul>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </section>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">ウェブサイト制作</h2>
        <div class="p-section__body">
          <p>ただいま準備中です</p>
          <!--<div class="splide slider1" aria-label="carousel-heading">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide" style="background:#ccc;">01</li>
                <li class="splide__slide" style="background:#ff0;">02</li>
                <li class="splide__slide" style="background:#f69;">03</li>
              </ul>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </section>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">写真制作</h2>
        <div class="p-section__body">
          <p>ただいま準備中です</p>
          <!--<div class="splide slider1" aria-label="carousel-heading">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide" style="background:#ccc;">01</li>
                <li class="splide__slide" style="background:#ff0;">02</li>
                <li class="splide__slide" style="background:#f69;">03</li>
              </ul>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </section>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">動画制作</h2>
        <div class="p-section__body">
          <p>ただいま準備中です</p>
          <!--<div class="splide slider1" aria-label="carousel-heading">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide" style="background:#ccc;">01</li>
                <li class="splide__slide" style="background:#ff0;">02</li>
                <li class="splide__slide" style="background:#f69;">03</li>
              </ul>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </section>
  <section class="l-section">
    <div class="l-section__inner">
      <div class="p-section">
        <h2 class="p-section__head">行政書士</h2>
        <div class="p-section__body">
          <div class="p-section__text">
            <p>これまでに次の業務を担当いたしました。</p>
            <p>なお、法律上行政書士として対応できない業務（登記申請関連・税務関連など）については、都度適切な資格者が担当しています。</p>
            <ul class="c-list">{List1.map((item) => <li>{item}</li>)}</ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<script>
  import Splide from "@splidejs/splide";

  const options1 = {
    perMove: 1,
    gap: 16,
    cover: true,
    heightRatio: 0.5,
    updateOnMove: true,
    pagination: false,
    arrows: false,
    autoplay: true,
    interval: 3000,
    type: "fade",
    rewind: true,
  };

  new Splide(".slider1", options1).mount();
  new Splide(".slider2", options1).mount();
  new Splide(".slider3", options1).mount();

  const options2 = {
    perMove: 1,
    gap: 16,
    cover: true,
    heightRatio: 0.5,
    updateOnMove: true,
    pagination: false,
    arrows: false,
    autoplay: true,
    interval: 8000,
    type: "fade",
    rewind: true,
  };

  new Splide(".slider5", options2).mount();
</script>
