---
const platform = "instagram";
const username = "tanakahiroki55";
import ig from "../images/footer-ig.svg";
---

<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="p-footer">
      <small class="p-footer__copyright">©行政書士田中宏樹事務所</small>
      <div class="p-footer__social">
        <ul class="c-social">
          <li class="c-social__item"><a href={`https://www.${platform}.com/${username}`} target="_blank" rel="noopener"><img src={ig.src} alt="instagram" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  .p-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .c-social {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
  }
  .c-social__item {
    width: 29px;
  }
</style>
