---
import Social from "./Social.astro";
---

<footer class="l-footer">
  <div class="l-footer__inner">
    <small class="l-footer__copyright">©行政書士田中宏樹事務所</small>
    <Social platform="instagram" username="tanakahiroki55" />
  </div>
</footer>
