---
import Social from "./Social.astro";
---

<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="p-footer">
      <small class="p-footer__copyright">©行政書士田中宏樹事務所</small>
      <div class="p-footer__social">
        <Social platform="insta" username="tanakahiroki55" />
      </div>
    </div>
  </div>
</footer>
