---
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
import logo from "../images/logo.svg";
---

<header class="l-header">
  <div class="l-header__inner">
    <div class="p-header">
      <h1 class="p-header__logo">
        <a href="#"><img src={logo.src} width="300px" alt="行政書士田中宏樹事務所" /></a>
      </h1>
      <div class="p-header__nav">
        <Menu />
        <Navigation />
      </div>
    </div>
  </div>
</header>

<style></style>
