---

---

<button class="c-menu js-menu" type="button" aria-controls="navigation" aria-expanded="false">
  <span class="c-menu__line"></span>
</button>

<style lang="scss">
  .c-menu {
    display: block;
    height: 60px;
    margin-left: auto;
    position: fixed;
    top: calc(4rem - 26px);
    right: calc(6% - 15px); /*最大幅90%　余白は左右5%だから、それに合わせる */
    z-index: 10;
    width: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include mq(pc) {
      top: calc(6rem - 26px);
    }
  }

  .c-menu.is-active .c-menu__line {
    background-color: transparent;
  }

  .c-menu.is-active .c-menu__line::before {
    top: 0;
    transform: rotate(45deg);
  }

  .c-menu.is-active .c-menu__line::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .c-menu__line {
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    background-color: transparent;
    transition: 0.4s;
  }

  .c-menu__line:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #172e59;
    transition: inherit;
  }

  .c-menu__line:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #172e59;
    transition: inherit;
  }

  .c-menu__line:before {
    top: -4px;
  }

  .c-menu__line:after {
    top: 4px;
  }
</style>


