---
import logo from "../images/logo.svg";
---

<nav class="c-nav js-nav">
  <ul class="c-nav__list">
    <li class="c-nav__item"><a href="#about"><span>ABOUT</span><br />私について</a></li>
    <li class="c-nav__item"><a href="#open"><span>SERVICE</span><br />対応可能業務</a></li>
    <li class="c-nav__item"><a href="#access"><span>WORKS</span><br />ご支援実績</a></li>
    <li class="c-nav__item"><a href="#contact"><span>CONTACT</span><br />お問い合わせ</a></li>
  </ul>
  <div class="js-focus-trap" tabindex="0"></div>
</nav>

<style>
  .c-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: 0.5s;
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
  }

  .c-nav.is-active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
  }

  .c-nav__item a {
    transition: color 0.4s;
    font-size: var(--font-nav);
    line-height: 1.5;
    display: block;
    padding-block: 1.5rem;
  }
  .c-nav__item a span {
    font-size: var(--font-nav-en);
  }
</style>
