---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style lang="scss">
  @include mq(pc) {
    a {
      font-size: 50px;
    }
  }
</style>
